@font-face {
	font-family:'Conv_SHOWG';
	src:url('../fonts/SHOWG.eot');
	src:local('☺'), url('../fonts/SHOWG.woff') format('woff'),url('../fonts/SHOWG.ttf') format('truetype'),url('../fonts/SHOWG.svg') format('svg');
	font-weight:normal;
	font-style:normal;
}
